<%- include('includes/header.ejs') %>
    <li><span class="bread-blod">My Orders</span>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="product-status mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <% if (orders.length === 0) { %>
                            <h4 class="text-center">You have not placed any Order yet</h4>
                            <% }else{ %>
                                <h4>Orders List</h4>
                                <% if(successMessage) { %>
                                    <h4 class="text-center" style="color: green;">
                                        <%= successMessage %>
                                    </h4>
                                    <% } %>
                                        <table>
                                            <tr>
                                                <th>S/N</th>
                                                <th>Order Code</th>
                                                <th>Date Ordered</th>
                                                <th>Delivery Method</th>
                                                <th>Order Status</th>
                                                <th>Total Price</th>
                                                <th></th>
                                            </tr>
                                            <% let counter = 1; for(let order of orders){  %>
                                                <tr>
                                                    <td>
                                                        <%= counter %>
                                                    </td>
                                                    <td>
                                                        <%= order.trackingCode %>
                                                    </td>
                                                    <td class="time">
                                                        <%= order.time %>
                                                    </td>
                                                    <td>
                                                        <%= order.shipping.method %>
                                                    </td>
                                                    <td>
                                                        <% if (order.status === 'delivered') { %>
                                                            <button class="pd-setting" style="cursor: default;" title="Your order has been delivered">Delivered</button>
                                                            <% }else if(order.status === 'logged') { %>
                                                                <button class="ps-setting" style="cursor: default;" title="Your order is enroute">Enroute</button>
                                                                <% }else{ %>
                                                                    <button class="ds-setting" style="cursor: default;" title="Your order is being processed for delivery">Processing</button>
                                                                    <% } %>
                                                    </td>
                                                    <td>$
                                                        <%= order.total.toLocaleString(undefined, {maximumFractionDigits: 2}) %>
                                                    </td>
                                                    <td>
                                                        <a class="ds-setting" href="/admin/orderDetails/<%= order._id %>">View Order</a>
                                                    </td>
                                                </tr>
                                                <% counter++; } %>
                                        </table>
                                        <%- numOfPages > 1 ? include('includes/pagination.ejs') : '' %>
                                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function formatDate(date) {
            const timestamp = new Date(date).getTime();
            const day = new Date(timestamp).getDate();
            const month = new Date(timestamp).getMonth() + 1;
            const year = new Date(timestamp).getFullYear();
            const hours = new Date(timestamp).getHours()
            const minutes = new Date(timestamp).getMinutes();
            const seconds = new Date(timestamp).getSeconds();
            return `${day}/${month}/${year} ${hours}:${minutes}`;
        }
        const dates = document.getElementsByClassName('time');
        for (let date of dates) {
            date.innerText = formatDate(date.innerText);
        }
    </script>
    <%- include('includes/footer.ejs') %>