<%- include('includes/header.ejs') %>
    <li><span class="bread-blod">New Admin</span>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- Single pro tab start-->
    <div class="single-product-tab-area mg-tb-15">
        <!-- Single pro tab review Start-->
        <div class="single-pro-review-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="review-tab-pro-inner">
                            <ul id="myTab3" class="tab-review-design">
                                <li class="active"><a href="#newAdmin"><i class="fa fa-user-plus" aria-hidden="true"></i>Create New Admin</a></li>
                                <li><a href="#removeAdmin"><i class="fa fa-remove" aria-hidden="true"></i>Remove Admin</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                <% if(successMessage || errMessage) { %>
                                    <h4 class="text-center" style="color: green;">
                                        <%= successMessage %>
                                    </h4>
                                    <h4 class="text-center" style="color: red;">
                                        <%= errMessage %>
                                    </h4>
                                    <% } %>
                                        <div class="product-tab-list tab-pane fade active in" id="newAdmin">
                                            <form action="/auth/newAdmin" method="POST">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="review-content-section">
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><b>User Email</b></span>
                                                                <input type="email" name="email" class="form-control" placeholder="Enter Email of user" required>
                                                            </div>
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><b>Admin Type</b></span>
                                                                <select class="form-control custom-select-value" name="type" required>
                                                                    <option value="">Choose an option</option>
                                                                    <option value="admin">Admin</option>
                                                                    <option value="super">Super Admin</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                            <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">Create</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="product-tab-list tab-pane fade" id="removeAdmin">
                                            <form action="/auth/removeAdmin" method="POST">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="review-content-section">
                                                            <div class="input-group mg-b-pro-edt">
                                                                <span class="input-group-addon"><b>User Email</b></span>
                                                                <input type="email" name="email" class="form-control" placeholder="Enter Email of admin" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                            <button type="submit" class="btn btn-primary waves-effect waves-light m-r-10">Remove</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/footer.ejs') %>