<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>The Fashion Mall - Happy Shopping!</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p>Call US :- <a href="#"> +234 813 343 9380</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <% if (isLoggedIn) { %>
                                <li><a href="/admin/dashboard">My Account</a></li>
                                <li>
                                    <form action="/auth/logout" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button type="submit">Logout</button>
                                    </form>
                                </li>
                                <% }else { %>
                                    <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#signupModal">Signup</a></li>
                                    <% } %>
                                        <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/home"><img src="/images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item <%= path === 'home' ? 'active' : '' %>"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item <%= path === 'about' ? 'active' : '' %>"><a class="nav-link" href="/about">About Us</a></li>
                        <li class="dropdown <%= path === 'product' ? 'active' : '' %> megamenu-fw">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Product</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Top</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="/shop?cat=jacket&for=male">Jackets</a></li>
                                                    <li><a href="/shop?cat=shirt&for=male">Shirts</a></li>
                                                    <li><a href="/shop?cat=blouse&for=female">Blouses</a></li>
                                                    <li><a href="/shop?cat=tshirt&for=male">T-shirts</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Bottom</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="/shop?cat=shorts&for=male">Shorts</a></li>
                                                    <li><a href="/shop?cat=skirt&for=female">Skirts</a></li>
                                                    <li><a href="/shop?cat=trouser&for=male">Trousers</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Footwear</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="/shop?cat=heels&for=female">Heels</a></li>
                                                    <li><a href="/shop?cat=shoees&for=male">Shoes</a></li>
                                                    <li><a href="/shop?cat=snickeers&for=male">Snickers</a></li>
                                                    <li><a href="/shop?cat=boots&for=male">Boots</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Accessories</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="/shop?cat=bag&for=female">Bags</a></li>
                                                    <li><a href="/shop?cat=watch&for=male">Watches</a></li>
                                                    <li><a href="/shop?cat=perfume&for=female">Perfumes</a></li>
                                                    <li><a href="/shop?cat=jewelry&for=female">Jewelries</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end col-3 -->
                                    </div>
                                    <!-- end row -->
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="dropdown <%= path === 'shop' ? 'active' : '' %>">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                            <ul class="dropdown-menu">
                                <li><a href="/cart">Cart</a></li>
                                <li><a href="/checkout">Checkout</a></li>
                                <li><a href="/my-account">My Account</a></li>
                                <li><a href="/wishlist">Wishlist</a></li>
                                <li><a href="/shop-detail">Shop Detail</a></li>
                            </ul>
                        </li> -->
                        <li class="nav-item <%= path === 'service' ? 'active' : '' %>"><a class="nav-link" href="/service">Our Service</a></li>
                        <li class="nav-item <%= path === 'contact-us' ? 'active' : '' %>"><a class="nav-link" href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </li>
                        <% if (path !== 'checkout') { %>
                            <li class="">
                                <a href="/cart">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="badge" id="cart-length"><%= length %></span>
                                </a>
                            </li>
                            <% } %>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <!-- <% if (path !== 'checkout') { %>
                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <li class="cart-box">
                        <ul class="cart-list">
                            <li>
                                <a href="#" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Delica omtantur </a></h6>
                                <p>1x - <span class="price">$80.00</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Omnes ocurreret</a></h6>
                                <p>1x - <span class="price">$60.00</span></p>
                            </li>
                            <li>
                                <a href="#" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                <h6><a href="#">Agam facilisis</a></h6>
                                <p>1x - <span class="price">$40.00</span></p>
                            </li>
                            <li class="total">
                                <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                                <span class="float-right"><strong>Total</strong>: $180.00</span>
                            </li>
                        </ul>
                    </li>
                </div>
                <% } %> -->
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search  -->
    <div class="top-search">
        <div class="container">
            <form action="/shop" method="GET">
                <div class="input-group">
                    <button type="submit" name="s" style="background: none; border: none; cursor: pointer;">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </button>
                    <input type="text" class="form-control" name="q" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </form>
        </div>
    </div>
    <!-- End Top Search -->

    <div class="modal fade" id="loginModal">
        <dic class="modal-dialog">
            <div class="modal-content pb-2">
                <div class="modal-header" style="background-color: #d33b33; color: white;">
                    <div class="text-center font-weight-bold">
                        <h3 style="color: white;">LOGIN</h3>
                    </div>
                    <button class="mode-button" style="position: absolute; top: 0px; right: 5px;" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="background-color: whitesmoke;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <form action="/auth/login?back=yes" id="loginForm" method="POST">
                                            <div class="form-group">
                                                <label class="control-label" for="email">Email</label>
                                                <input type="text" placeholder="example@gmail.com" title="Please enter you email" name="email" id="email" class="form-control" value="<%= cred.email %>" required>
                                                <span class="help-block small"></span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="password">Password</label>
                                                <input type="password" title="Please enter your password" placeholder="******" name="password" id="password" class="form-control" value="<%= cred.password %>" required>
                                                <span class="help-block small"></span>
                                            </div>
                                            <div class="checkbox login-checkbox" style="float: left;">
                                                <input type="checkbox" class="i-checks" name="rem"> Remember me
                                                <p class="help-block small">(if this is a private computer)</p>
                                            </div>
                                            <div class="checkbox login-checkbox" style="float: right;">
                                                <p><a href="/auth/forgotPassword">Forgot password?</a></p>
                                            </div>
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn btn-danger btn-block loginbtn" type="submit">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dic>
    </div>
    <div class="modal fade" id="signupModal">
        <dic class="modal-dialog">
            <div class="modal-content pb-2">
                <div class="modal-header" style="background-color: #d33b33; color: white;">
                    <div class="text-center font-weight-bold">
                        <h3 style="color: white;">REGISTER</h3>
                    </div>
                    <button class="mode-button" style="position: absolute; top: 0px; right: 5px;" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="background-color: whitesmoke;">
                    <div class="container-fluid">
                        <div class="row" id="register">
                            <div class="col-12">
                                <div class="hpanel">
                                    <div class="panel-body">
                                        <form action="/auth/signup" id="regForm" method="POST">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="firstname">Firstname</label>
                                                        <input type="text" placeholder="John" title="Please enter you firstname" name="firstname" id="firstname" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="lastname">Lastname</label>
                                                        <input type="text" placeholder="Doe" title="Please enter you lastname" name="lastname" id="lastname" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="email">Email</label>
                                                <input type="email" placeholder="example@gmail.com" title="Please enter you email" name="email" id="email" class="form-control" required>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="password1">Password</label>
                                                        <input type="password" title="Please enter your password" placeholder="******" name="password" id="password1" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="password2">Confirm Password</label>
                                                        <input type="password" title="Please confirm your password" placeholder="******" name="confirmPassword" id="password2" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn btn-danger btn-block loginbtn" type="submit">Register</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dic>
    </div>
    <!-- <div class="row new-account-login">
        <div class="col-sm-12 col-lg-12 mb-3">
            <div class="title-left">
                <h5><a data-toggle="collapse" href="#formLogin" role="button" aria-expanded="">Click here to Login</a></h5>
            </div>
            <form class="mt-3 collapse review-form-box" id="formLogin" action="/login" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="InputEmail" class="mb-0">Email Address</label>
                        <input type="email" class="form-control" id="InputEmail" placeholder="Enter Email"> </div>
                    <div class="form-group col-md-6">
                        <label for="InputPassword" class="mb-0">Password</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Password"> </div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn hvr-hover">Login</button>
            </form>
        </div>
        <div class="col-sm-12 col-lg-12 mb-3">
            <div class="title-left">
                <h5><a data-toggle="collapse" href="#formRegister" role="button" aria-expanded="">Click here to Register</a></h5>
            </div>
            <form class="mt-3 collapse review-form-box" id="formRegister">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="InputName" class="mb-0">First Name</label>
                        <input type="text" class="form-control" id="InputName" placeholder="First Name"> </div>
                    <div class="form-group col-md-6">
                        <label for="InputLastname" class="mb-0">Last Name</label>
                        <input type="text" class="form-control" id="InputLastname" placeholder="Last Name"> </div>
                    <div class="form-group col-md-6">
                        <label for="InputEmail1" class="mb-0">Email Address</label>
                        <input type="email" class="form-control" id="InputEmail1" placeholder="Enter Email"> </div>
                    <div class="form-group col-md-6">
                        <label for="InputPassword1" class="mb-0">Password</label>
                        <input type="password" class="form-control" id="InputPassword1" placeholder="Password"> </div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn hvr-hover">Register</button>
            </form>
        </div>
    </div> -->
