<div class="custom-pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <% if(currentPage !== 1) { %>
                <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a></li>
                <% } for(let i = 1; i <= numOfPages; i++) { %>
                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>">
                            <%= i %>
                        </a>
                    </li>
                    <% } if(currentPage < numOfPages) { %>
                        <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a></li>
                        <% } %>
        </ul>
    </nav>
</div>